.app.dark {
  --bg-color: rgb(17 37 150);
  --inverted-bg-color: rgb(210 210 235);
  --primary-color: rgb(2 124 2);
  --secondary-color: rgb(7 185 7);
  --inverted-primary-color: rgb(0 41 189);
  --inverted-secondary-color: rgb(18 90 247);
}
